**/node_modules
**/package-lock.json
**/*.log
**/.vscode
**/.idea
packages/**/*.d.ts
packages/**/*.js
packages/**/*.js.map
packages/**/*.jsx
packages/**/*.jsx.map
packages/**/*.mjs
packages/**/*.mjs.map
packages/**/*.mjsx
packages/**/*.mjsx.map
**/*.iml
**/*.tgz
docs
