**/node_modules
**/*.log
**/.vscode
**/.idea
packages/**/*.d.ts
packages/**/*.js
packages/**/*.js.map
packages/**/*.jsx
packages/**/*.jsx.map
packages/**/*.mjs
packages/**/*.mjs.map
packages/**/*.mjsx
packages/**/*.mjsx.map
**/*.iml
**/*.tgz
docs
.yarn/cache
.yarn/isntall-state.gz
